@media only screen and (min-width: 360px) and (max-width: 1300px) {
  body {
    padding: 0px;
  }
  .oneline {
    display: flex;
    justify-content: center;
  }
  .nav {
    align-items: baseline;
  }
  .hide {
    display: none;
  }
  .nav-links {
    width: 77%;
  }
  span {
    font-size: 16px;
  }
  .nav-links > h3 {
    font-size: 12px;
  }
  .heading > h1 {
    font-size: 30px;
  }
  
  .parentimg {
    width: 600px;
    left: -75px;
}
  .laptop {
    width: 529px;
}
  .para > p {
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 800px)  {body{
    padding: 0px 100px;text-transform: capitalize;background: #ffffff;;;font-family: 'DM Sans', sans-serif;
}

span{
    color:  #1E0E62;
}
nav{
    color:  #1E0E62;;display: flex;justify-content: space-between;align-items: baseline
}
.nav-links{
    display: flex;justify-content: space-around;align-items: center;width: 50%;font-weight: 400
}
.nav-links>h3{
    font-size: 15px
}
.signup{
    padding: 5px 10px ;border-radius: 50px;border: 2px solid #EBEAED
}
.heading{
    display: flex;justify-content: center;
}
h1{
    width: 70%;font-size: 58px;text-align: center
}
.parentbtn{
     display: flex;justify-content: center;margin: 0px
}
.btn>h3{
   padding:10px 15px;font-size: 16px;font-weight: 300 ;border-radius: 100px;color: #ffffff;background: #25DAC5;width: fit-content;margin: 0px;

}

.para{
    display: flex;width: 100%
}
.para>p{
  padding:0px 20px;font-size: 14px;color:  #1E0E62;text-align: center
}
.para-1{
    width: 30%;border-left: none
}
.para-2{
    width: 30%;border-left: 1px solid black;
}
.para-3{
    width: 30%;border-left: 1px solid black;
}
}