@media only screen and (min-width:360px) and (max-width:800px) {
    body{
        padding: 0px
    }
    .oneline{
        display: flex;justify-content: center
    }
    .nav{
        align-items:baseline
    }
    .hide{
        display: none
    }
    .nav-links{
        width: 77%
    }
    span{
        font-size: 16px
    }
    .nav-links>h3 {
        font-size: 12px;
    }
    .heading>h1{
        font-size: 30px
    }
    .parentimg{
        width: 445px;left: -75px
    }
    .laptop{
        width: 440px;
    }
    .para>p {
        padding: 0px 10px;}

}
@media only screen and (min-width:400px) and (max-width:420px) {
    .parentimg{
        width: 445px;left: -95px
    }
}
@media only screen and (min-width:420px) and (max-width:450px) {
    .parentimg{
        width: 445px;left: -70px
    }
}
@media only screen and (min-width:451px) and (max-width:480px) {
    .parentimg{
        width: 445px;left: -50px
    }
}
@media only screen and (min-width:481px) and (max-width:500px) {
    .parentimg{
        width: 445px;left: -40px
    }
}
@media only screen and (min-width:501px) and (max-width:520px) {
    .parentimg{
        width: 445px;left: -30px
    }
}
@media only screen and (min-width:521px) and (max-width:540px) {
    .parentimg{
        width: 445px;left: -20px
    }
}
@media only screen and (min-width:541px) and (max-width:560px) {
    .parentimg{
        width: 445px;left: -50px
    }
}
@media only screen and (min-width:561px) and (max-width:580px) {
    .parentimg{
        width: 445px;left: -40px
    }
}
@media only screen and (min-width:581px) and (max-width:600px) {
    .parentimg{
        width: 445px;left: -30px
    }
}
@media only screen and (min-width:601px) and (max-width:620px) {
    .parentimg{
        width: 445px;left: -20px
    }
}
@media only screen and (min-width:621px) and (max-width:650px) {
    .parentimg{
        width: 445px;left: -10px
    }
}
@media only screen and (min-width:651px) and (max-width:690px) {
    .parentimg{
        width: 445px;left: 15px
    }
}
@media only screen and (min-width:691px) and (max-width:730px) {
    .parentimg{
        width: 445px;left: -40px
    }
}
@media only screen and (min-width:731px) and (max-width:760px) {
    .parentimg{
        width: 445px;left: -55px
    }
}
@media only screen and (min-width:760px) and (max-width:800px) {
    .parentimg{
        width: 445px;left: -45px
    }
}


@media only screen and (min-width:800px) and (max-width:1200px) {
    body{
        padding: 10px 50px
    }
    .oneline{
        display: flex;justify-content: center
    }
    .nav{
        align-items:baseline
    }
    .hide{
        
    }
    .nav-links{
        width: 77%
    }
    span{
        font-size: 20px
    }
    .nav-links>h3 {
        font-size: 16px;
    }
    .heading>h1{
        font-size: 50px
    }
    .parentimg{
        width: 445px;
    }
    .laptop{
        width: 100%;
    }
    .para>p {
        padding: 0px 10px;}

}

